h1 {
    color: rebeccapurple; /* set main header color to deep purple */
    height: 20px;
}

#attendance, #followUps {
    color: rgb(188,126,242); /* set title to lavender */
}
#topicsCovered {
    color: hsl(272,82%,72%); /* set title to lavender */
    height: .5cm;
}
#summary {
    color: rgb(188,126,242); /* set title to lavender */
}
#unanswered {
    color: rgb(188,126,242); /* set title to lavender */
}
details > summary {
    color: rgb(188,126,242); /* set title to lavender */
    text-decoration: underline;
}
#video {
    color: rgb(188,126,242); /* set title to lavender */
}
#audio {
    color: rgb(188,126,242); /* set title to lavender */
}
.page-header {
    background-color: lemonchiffon;  /* add background color to the page header */
    width: 28vw;
    display: block;
}
ul {
    font-size: 1em;  /* change font size of attendance list header */
    height: max-height;
}
.covered-topics {
    font-size: 1rem;  /* change font size of covered topics overview */
    width: max-width;
}
.attendance-box {  /* change display properties of box surrounding attendance list */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;
    display: inline-block;
    position: relative;
}
.attending {  /* change display properties of border surrounding attendance list */
    border-width: 5px;
    border-style: solid;
    border-color: lemonchiffon;
    border-radius: 1em;
    margin: 10px 0px 20px 5px;
    padding: 4px 0px 10px 30px;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: auto;
    grid-row-start:auto;
}
.covered-topics {  /* change display properties of covered topics summary */
    margin:auto;
    display: flex;
    column-gap: 30px;
    flex-grow: 5;
    flex-wrap: wrap;
}
.foods {  /* center text and import custom font from google */
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}
.fit-picture {
    position: static;
}
button:hover {  /* turn button background to purple when hovered */
    background-color: blueviolet;
}
a:active {  /* turn hyperlink green once clicked */
    color: green;
}
*.form-example {  /*add universal element selector */
    color: rgb(188,126,242);
}
a[href^="#"] {  /* add attribute selector */
    background-color: silver;
}

ul > li:first-of-type + li { /* add child and adjacent sibling combinator */
    color: orange;
}

form ~ label { /* add general sibling combinator */
    color: #80d194;
}