h1 {
    color: rebeccapurple; /* set main header color to deep purple */
    height: 20px;
}
h2 {
    color: #dda0dd;  /* set date header to light lavender */
    height: 8mm;
}
#attendance {
    color: rgb(188,126,242); /* set title to lavender */
}
#topicsCovered {
    color: hsl(272,82%,72%); /* set title to lavender */
    height: .5cm;
}
#followUps {
    color: rgb(188,126,242); /* set title to lavender */
}
#summary {
    color: rgb(188,126,242); /* set title to lavender */
}
#unanswered {
    color: rgb(188,126,242); /* set title to lavender */
}
#food {
    color: rgb(188,126,242); /* set title to lavender */
}
#video {
    color: rgb(188,126,242); /* set title to lavender */
}
#audio {
    color: rgb(188,126,242); /* set title to lavender */
}
.page-header {
    background-color: lemonchiffon;
    width: 28vw;
}
.attending {
    font-size: 1em;
}
.covered-topics {
    font-size: 1rem;
}