h1 {
    color: rebeccapurple; /* set main header color to deep purple */
    height: 20px;
}
h2 {
    color: #dda0dd;  /* set date header to light lavender */
    height: 8mm;
}
#attendance {
    color: rgb(188,126,242); /* set title to lavender */
}
#topicsCovered {
    color: hsl(272,82%,72%); /* set title to lavender */
    height: .5cm;
}
#followUps {
    color: rgb(188,126,242); /* set title to lavender */
}
#summary {
    color: rgb(188,126,242); /* set title to lavender */
}
#unanswered {
    color: rgb(188,126,242); /* set title to lavender */
}
#food {
    color: rgb(188,126,242); /* set title to lavender */
    text-decoration: underline;
}
#video {
    color: rgb(188,126,242); /* set title to lavender */
}
#audio {
    color: rgb(188,126,242); /* set title to lavender */
}
.page-header {
    background-color: lemonchiffon;
    width: 28vw;
    display: block;
}
.attending {
    font-size: 1em;
    height: max-height;
}
.covered-topics {
    font-size: 1rem;
    width: max-width;
}
.attendance-box {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;
    display: inline-block;
    position: relative;
}
.attending {
    border-width: 5px;
    border-style: solid;
    border-color: lemonchiffon;
    border-radius: 1em;
    margin: 10px 0px 20px 5px;
    padding: 4px 0px 10px 30px;
}
.covered-topics {
    margin:auto;
}
.foods {
    text-align: center;
}
.fit-picture {
    position: static;
}
